
<div class="comments">
    <div class="comment agree">
        <img class="avatar" src="Smu.VotedNews/Content/Images/avatar.png" />
        <p>Praesent quam erat, iaculis eget ullamcorper ut, bibendum vel lectus. Donec imperdiet urna et enim consectetur interdum sit amet id dolor.</p>
    </div>
    <div class="comment disagree">
        <img class="avatar" src="Smu.VotedNews/Content/Images/avatar.png" />
        <p>Morbi aliquet non nunc vel tempus. Praesent quam erat, iaculis eget ullamcorper ut, bibendum vel lectus. Donec imperdiet urna et enim consectetur interdum sit amet id dolor.</p>
    </div>
</div>